.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #feceab;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #99b898;
  }
  
  p {
    font-size: 2rem;
    color: #e84a5f;
    font-family: 'Indie Flower', cursive;
  }
   
  h2 {
    font-family: 'Lobster', cursive;
    color: #3ca59d;
    font-size: 4rem;
  } 

  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    font-size: 3rem;
    color: #5a3d55;
    text-align: right;
    font-family: 'Indie Flower', cursive;
  
  }
  